@import 'globalAndVariables.scss';

.footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4vw;
    background-color: #fefefe;
    border-top: 1px solid $purple;
    flex-direction: row;
    z-index: 3;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    flex-wrap: wrap;

    .first{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        img{
            margin-right: 12px;
            width:40px;
        }
    }

    p{
        &:nth-of-type(2){
            font-size: 14px;
            color: #BEBEBE;
        }
    }

    @media(max-width:1100px){
        flex-direction: column;
    }

    @media(max-width: 1000px){
        position: relative;
    }
}
.icons{
    margin-top: 8px;
    img:first-of-type{
        margin-right: 15px;
    }
}
.footer-a{
    margin-right: 5px;
    text-decoration: underline;
    color:$purple;
    cursor: pointer;
}

p.purple-color{
    margin: 0 5px;

    @media(max-width: 1100px){
        margin-bottom: 10px;
    }
}