*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.redirect-block {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #311B92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.redirect-block img {
  width: 90%;
  max-width: 400px;
}

.redirect-block h1 {
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
}

.redirect-block.hidden-up {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

button, input {
  outline: none;
}

.line {
  height: 4px;
  width: 100%;
}

@media (max-width: 1000px) {
  .big-screen {
    display: none;
  }
}

@media (max-width: 1300px) {
  .big-screen-1300 {
    display: none;
  }
}

.two-section-grid {
  display: -ms-grid;
  display: grid;
  padding: 120px 8% 100px;
  -ms-grid-columns: 42% 42%;
      grid-template-columns: 42% 42%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 16%;
          column-gap: 16%;
  min-height: calc(100vh);
}

.two-section-grid img {
  width: 100%;
  max-width: 600px;
  max-height: 90%;
}

.two-section-grid .line {
  height: 8px;
  margin: 20px 0;
}

.two-section-grid section {
  position: relative;
}

@media (max-width: 1300px) {
  .two-section-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 0;
            column-gap: 0;
    padding: 100px 4vw 20px;
    height: auto;
  }
}

.small-h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .small-h4 {
    text-align: center;
  }
}

.small-screen {
  display: none;
}

@media (max-width: 1000px) {
  .small-screen {
    display: block;
  }
}

.small-screen-1250 {
  display: none;
}

@media (max-width: 1250px) {
  .small-screen-1250 {
    display: block;
  }
}

.great-p {
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .great-p {
    font-size: 20px;
  }
}

.purple-bg {
  background-color: #311B92;
}

.purple-color {
  color: #311B92;
}

.white-color {
  color: #FFFFFF;
}

.big-h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 0px;
  line-height: 65px;
}

@media (max-width: 1500px) {
  .big-h1 {
    font-size: 2rem;
    line-height: 45px;
  }
}

@media (max-width: 1000px) {
  .big-h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 45px;
  }
}

@media (min-width: 1300px) {
  html {
    background-image: url("../assets/backgroundStain.png");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (max-width: 1100px) {
  body {
    padding-bottom: 100px;
  }
}

@media (max-width: 1000px) {
  body {
    padding-bottom: 0;
  }
}

.for-media {
  display: -ms-grid;
  display: grid;
  padding: 120px 8% 100px;
  -ms-grid-columns: 42% 42%;
      grid-template-columns: 42% 42%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 16%;
          column-gap: 16%;
  min-height: calc(100vh);
}

.for-media img {
  width: 100%;
  max-width: 600px;
  max-height: 90%;
}

.for-media .line {
  height: 8px;
  margin: 20px 0;
}

.for-media section {
  position: relative;
}

@media (max-width: 1300px) {
  .for-media {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 0;
            column-gap: 0;
    padding: 100px 4vw 100px;
    height: auto;
  }
}

.with-img {
  text-align: center;
}

@media (max-width: 1300px) {
  .big-screen {
    display: none;
  }
}

.flying-icon-with-text {
  position: absolute;
  -webkit-box-shadow: 3px 6px 8px #00000045;
          box-shadow: 3px 6px 8px #00000045;
  border-radius: 28px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefefe;
  width: 450px;
  padding: 0 12px;
}

.flying-icon-with-text img {
  width: 100%;
  padding: 12px 16px;
}

.flying-icon-with-text.first {
  left: calc(50% - 225px);
  top: 18%;
}

.flying-icon-with-text.second {
  left: calc(50% - 225px);
  top: 58%;
}

.flying-icon-with-text h3 {
  font-size: 24px;
  font-weight: 500;
}

.flying-icon-with-text p {
  font-weight: 600;
}

@media (max-width: 1300px) {
  .flying-icon-with-text {
    position: static;
    margin: 40px auto 0;
  }
}

@media (max-width: 500px) {
  .flying-icon-with-text {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
  }
  .flying-icon-with-text img {
    width: 200px;
  }
}
/*# sourceMappingURL=forMedia.css.map */