*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

// PREVENT FROM MARKING
img{
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
button, input{
    outline: none;
}
/////////////////////////

$purple:#311B92;
$white: #FFFFFF;

.purple-bg{
    background-color: $purple;
}
.purple-color{
    color:$purple
}
.white-color{
    color:$white;
}


.starting-section{
    width:100%;
    min-height: 100vh;
}

.header{
    width:100%;

    @media(max-width: 1000px){
        text-align: center;
        margin-bottom: 30px;
    }
    
}
.logo-wrapper{
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    display:inline-block;
    padding:calc(.7vw + 10px); 

    @media (max-width:1000px){
        margin: 0 auto;
        padding: calc(.7vw + 10px) calc(.7vw + 20px);
        border-bottom-right-radius: 25px;
         border-bottom-left-radius: 25px;
        img{
            width:120px;
            
            padding: 5px;
        }
    }
}
.newsletter-block{
    align-items: center;
    display: grid;
    width:100%;
    grid-template-columns:21.5% 39% 21.5%;
    column-gap: 9%;
    margin-top: 5vw;
    padding: 0 8vw;

    &__images{
        min-height: 60vh;

        position: relative;
        img{
            display: block;
            position: absolute;
            min-width: 70px;
            width:40%;
            max-width: 135px;

            &.left{
                left:0;
            }
            &.right{
                right:0;
            }
        }
    }

    &__newsletter{
        h1{
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: 2px;
            text-align: center;
            margin: 0px;
            line-height: 5rem;
        }
        p{
            font-size: 1.5rem;
            text-align: center;
        }
    }

    @media(max-width:1000px){
        grid-template-columns: 0 100% 0;
        column-gap: 0;

        &__images{
            min-height: auto;
            img{
                display: none;
            }
        }

        &__newsletter{
            h1{
                font-size: 2.5rem;
                line-height: initial;
            }
        }
    }
}

.top{
    &1{
        top:0;
    }
    &2{
        top:18%  
    }
    &3{
        top:36%   
    }
    &4{
        top:54%    
    }
    &5{
        top:72%;    
    }
}

.line{
    height:4px;
    width:100%;
}
.input-and-button{
    display: flex;
    justify-content: center;

    @media(max-width: 1000px){
        flex-direction: column;
        align-items: center;
    }
}
.input{
    position: relative;
    background: #EDEDED 0% 0% no-repeat padding-box;
    border:none;
    border-radius: 8px;
    padding: 4px 40px 4px 20px;
    height:45px;
    width: 60%;
    
    min-width: 280px;
    margin-right: 15px;
    font-size: 18px;

    &::placeholder{
        color: #C7C7C7;
    }

    @media(max-width: 1000px){
        margin: 20px 0 40px 0;
        width:90%;
        max-width: 400px;
    }
}
.input-wrapper{
    display: inline-block;
    position: relative;

    &::after{
        content:url("../assets/envelope.svg");
        right:35px;
        top:16px;
         position: absolute;
         
         @media(max-width: 1000px){
             top:36px;
             right:20px;
         }
    }
}
.btn{
    border-radius: 8px;
    border:none;
    padding: 4px 16px;
    height:45px;

    width: 160px;
    font-size: 18px;
    cursor: pointer;
    transition: background .2s ease-in-out, color .2s  ease-in-out;

    &:hover, &:focus, &:active{
        background-color: $white;
        color:$purple;
        border:2px solid $purple;
    }

    @media(max-width: 1000px){
        margin-bottom: 25px;
    }
}
.footer{
    text-align: center;

    p{
        &:nth-of-type(2){
            font-size: 14px;
            color: #BEBEBE;
        }
    }
}
.icons{
    img:first-of-type{
        margin-right: 15px;
    }
}