*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1000px) {
  body {
    height: auto;
    overflow: auto;
  }
}

.container {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

button, input {
  outline: none;
}

.purple-bg {
  background-color: #311B92;
}

.purple-color {
  color: #311B92;
}

.white-color {
  color: #FFFFFF;
}

.full-screen-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.full-screen-section.first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-screen-section.second, .full-screen-section.third {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 42% 42%;
      grid-template-columns: 42% 42%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16%;
          column-gap: 16%;
  height: 100vh;
  padding: 8%;
}

.full-screen-section.second .line, .full-screen-section.third .line {
  height: 8px;
  margin: 25px 0;
}

@media (max-width: 1000px) {
  .full-screen-section {
    min-height: 100vh;
    height: auto;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-left: 5vw;
}

@media (max-width: 1000px) {
  .header {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
  }
}

.logo-wrapper {
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  display: inline-block;
  padding: calc(.7vw + 10px);
}

.logo-wrapper img {
  width: 150px;
}

@media (max-width: 1000px) {
  .logo-wrapper {
    margin: 0 auto;
    padding: calc(.7vw + 10px) calc(.7vw + 20px);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .logo-wrapper img {
    width: 120px;
    padding: 5px;
  }
}

.newsletter-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 21.5% 39% 21.5%;
      grid-template-columns: 21.5% 39% 21.5%;
  -webkit-column-gap: 9%;
          column-gap: 9%;
  padding: 0 8vw;
}

.newsletter-block__images {
  min-height: 60vh;
  position: relative;
}

.newsletter-block__images img {
  display: block;
  position: absolute;
  min-width: 70px;
  width: 40%;
  max-width: 135px;
}

.newsletter-block__images img.left {
  left: 0;
}

.newsletter-block__images img.right {
  right: 0;
}

.newsletter-block__newsletter p {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .newsletter-block {
    -ms-grid-columns: 0 100% 0;
        grid-template-columns: 0 100% 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .newsletter-block__images {
    min-height: auto;
  }
  .newsletter-block__images img {
    display: none;
  }
  .newsletter-block__newsletter h1 {
    font-size: 2.5rem;
    line-height: initial;
  }
}

.top1 {
  top: 0;
}

.top2 {
  top: 18%;
}

.top3 {
  top: 36%;
}

.top4 {
  top: 54%;
}

.top5 {
  top: 72%;
}

.big-h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 0px;
  line-height: 65px;
}

.small-h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.great-p {
  font-weight: 700;
  font-size: 18px;
}

.line {
  height: 4px;
  width: 100%;
}

.input-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .input-and-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.input {
  position: relative;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 8px;
  padding: 4px 40px 4px 20px;
  height: 45px;
  width: 60%;
  min-width: 280px;
  margin-right: 15px;
  font-size: 18px;
}

.input::-webkit-input-placeholder {
  color: #C7C7C7;
}

.input:-ms-input-placeholder {
  color: #C7C7C7;
}

.input::-ms-input-placeholder {
  color: #C7C7C7;
}

.input::placeholder {
  color: #C7C7C7;
}

@media (max-width: 1000px) {
  .input {
    margin: 20px 0 40px 0;
    width: 90%;
    max-width: 400px;
  }
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.input-wrapper::after {
  content: url("../assets/envelope.svg");
  right: 35px;
  top: 16px;
  position: absolute;
}

@media (max-width: 1000px) {
  .input-wrapper::after {
    top: 36px;
    right: 20px;
  }
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  height: 45px;
  width: 160px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out, color .2s  ease-in-out;
  transition: background .2s ease-in-out, color .2s  ease-in-out;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #311B92;
  border: 2px solid #311B92;
}

@media (max-width: 1000px) {
  .btn {
    margin-bottom: 25px;
  }
}

.btn i {
  font-style: normal;
}

.btn .submitted-i {
  display: none;
}

.btn.submitted {
  color: #8bc34a;
  background-color: #FFFFFF;
  border: 2px solid #8bc34a;
  cursor: initial;
}

.btn.submitted .unsubmitted-i {
  display: none;
}

.btn.submitted .submitted-i {
  display: inline;
  margin-left: 4px;
}

.footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.footer p:nth-of-type(2) {
  font-size: 14px;
  color: #BEBEBE;
}

.icons img:first-of-type {
  margin-right: 15px;
}

@-webkit-keyframes fadeInFadeOut {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInFadeOut {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message-sent {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #311B92;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  top: 0;
  right: 0;
  padding: 15px;
  width: 300px;
  height: 100px;
  border-bottom-left-radius: 15px;
  opacity: 0;
  z-index: 5;
}

.fade-in-fade-out {
  -webkit-animation-name: fadeInFadeOut;
          animation-name: fadeInFadeOut;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

/* SECOND SECTION */
.second-section {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 42% 42%;
      grid-template-columns: 42% 42%;
  -webkit-column-gap: 16%;
          column-gap: 16%;
  height: 100vh;
  padding: 8%;
}

.second-section h1 {
  text-align: left;
}

.second-section .line {
  height: 8px;
  margin: 25px 0;
}

.subsection {
  position: relative;
}

.subsection.with-img {
  text-align: center;
}

.subsection.with-img img {
  width: 100%;
  /*
            &.fixed-img{
                width:35.28%;
                position: fixed;
                top:120px;
                left:56.72%;
            }

            &.beside-second-parent{
                position: absolute;
                top:calc(100% + 16vh);
                left:0%;
            }*/
}

.small-icon-with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
}

.small-icon-with-text .icon {
  margin-right: 15px;
}

.small-icon-with-text .icon img {
  height: 45px;
}

.small-icon-with-text .text {
  font-size: 18px;
  font-weight: 700;
}

.interior-img {
  position: absolute;
}
/*# sourceMappingURL=index.css.map */